@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

nav{
    height: 80px;
    background-color: #E61B33;
}
.navbar-nav .nav-link{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
    letter-spacing: 0.1em;
    
    color: #FFFFFF;
}


@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}
.nav-link:hover, .nav-link:focus, .nav-link.active {
    font-weight: 700;
font-size: 20px;
line-height: 30px;
/* identical to box height */
letter-spacing: 0.08em;

  /* color: var(--bs-nav-link-hover-color); */
}

/* home */

.home .h1{
    position: absolute;
    width: 579px;
    height: 182px;
    /* left: 74px; */
    top: 232px;
    
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 127%;
    /* or 46px */
    
    letter-spacing: 0.03em;
    
    color: #000000;
}

.home .tombol{
    display: flex;
flex-direction: row;
/* justify-content: center; */
align-items: center;
padding: 20px 70px;
gap: 10px;

position: absolute;
width: 300px;
height: 60px;
/* left: 74px; */
top: 500px;


font-weight: 700;
font-size: 20px;
line-height: 20px;

background: #E61B33;
border-radius: 50px;
}

.home .tombol:hover{
    background: #AB1526;
}

.home .scoopy{
    position: absolute;
width: 675px;
height: 380px;
/* left: 589px; */
top: 156px;

}

/* end home */

/* login Admin */
.judul{
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
/* identical to box height */

    text-align: center;
    letter-spacing: 0.05em;

    color: #000000;
}

.card{
    position: absolute;
    width: 347px;
    height: 417px;
    left: 40%;
    top: 213px;


    background: #D9D9D9;
    border-radius: 20px;
}

.card2 {
    position: absolute;
    width: 50%;
    height: 417px;
    left: 25%;
    top: 213px;


    background: #D9D9D9;
    border-radius: 20px;
}

.btn-forgot {
    position: absolute;
   /*  width: 89px;
    height: 14px;
    left: 678px;
    top: 390px; */
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 9px;
    line-height: 14px;
    /* identical to box height */
    
    letter-spacing: 0.14em;

}

button, .btn-login {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 70px;
gap: 10px;

position: absolute;
width: 100px;
height: 30px;
/* left: 590px;
top: 513px; */

color: #FFFFFF;
background: #E61B33;
border-radius: 50px;

font-weight: 800;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;
letter-spacing: 0.1em;
}

button, .btn-login:hover {

background: #AB1526;
font-weight: 800;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;
letter-spacing: 0.1em;
color: #FFFFFF;
}


/* end login admin */